version: '3'

services:
  guacd:
    image: guacamole/guacd
    restart: always
    volumes:
      - ./guacd-drive:/drive
      - ./guacd-record:/record
    networks:
      - guacamole

  postgres:
    image: postgres:13.9-alpine
    restart: always
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: guacamole
      POSTGRES_USER: guacamole
      POSTGRES_PASSWORD: 'PleaseChangeMe' #Change this!
    networks:
      - guacamole

  guacamole:
    image: guacamole/guacamole
    restart: always
    volumes:
      - ./guacamole_home:/etc/guacamole
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DATABASE: guacamole
      POSTGRES_USER: guacamole
      POSTGRES_PASSWORD: 'PleaseChangeMe' #Change this! (Same as above!)
    networks:
      - guacamole
    depends_on:
      - postgres
      - guacd
    links:
      - guacd
    ports:
      - 8080:8080 #You might have to change the Host port (left part), if some program already uses port 8080

networks:
  guacamole:
    driver: bridge